appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.4
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
cssselect==1.1.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1
django-cors-headers==3.7.0
django-heroku==0.3.1
fake-useragent==0.1.11
filelock==3.0.12
idna==2.10
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
mysql-connector==2.2.9
parse==1.16.0
psycopg2==2.9.1
pycodestyle==2.6.0
pyee==7.0.2
pylint==2.5.3
pyppeteer==0.2.2
pyquery==1.4.1
pytz==2020.4
requests==2.24.0
selenium==3.141.0
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
toml==0.10.1
tqdm==4.48.2
urllib3==1.25.10
virtualenv==20.0.31
virtualenvwrapper-win==1.2.6
websockets==8.1
whitenoise==5.3.0
wrapt==1.12.1
